@mixin commons {

    a {
        color: inherit;
    }

    p {
        margin: 0 0 ($body-lh / $body-fs * 1em);
    }

    > :first-child {
        margin-top: 0 !important;
    }
    > :last-child {
        margin-bottom: 0 !important;
    }

    &__title {
        @include font(dinbo);
        @include ffs(24);
        //font-size: (em / $body-fs);
        margin: ($body-lh / $body-fs * (16em / $body-fs)) 0;
    }
    
    &__subtitle {
        @include font(dinbo);
        @include ffs(18);
        //@include font(gobo);
        //font-size: (18em / $body-fs);
        //font-size: inherit;
        margin: ($body-lh / $body-fs * 1em) 0;
    }
    
    &__subsubtitle {
        @include font(gobo);
        font-size: inherit;
        font-weight: normal;
        margin: ($body-lh / $body-fs * 1em) 0;
    }

    &__em {
        $fs: 30;
        @include ffs($fs);
        @include font(din);
        border-top: 1px solid $c-grey;
        border-bottom: 1px solid $c-grey;
        letter-spacing: (1em / $fs);
        line-height: (34 / $fs);
        margin: (15em / $fs) 0 !important;
        padding: (14em / $fs) 0;
        text-transform: uppercase;
    }

}

// specific selectors