@mixin commons {
    // for secure inclusion in style.scss
    p {
        margin: 0 0 ($body-lh / $body-size * 1em);
    }
    
    > :first-child {
        margin-top: 0 !important;
    }
    > :last-child {
        margin-bottom: 0 !important;
    }
    
    &__em {
        $fs: 30;
        @include ffs($fs);
        @include font(din);
        border-top: 1px solid $c-grey;
        border-bottom: 1px solid $c-grey;
        letter-spacing: (1em / $fs);
        line-height: (34 / $fs);
        margin: (15em / $fs) 0;
        padding: (14em / $fs) 0;
        text-transform: uppercase;
    }
    
}

// specific selectors