@font-face {
    font-family: 'DINProCond';
    src: url('../font/DINProCond.woff2') format('woff2'),
    url('../font/DINProCond.woff') format('woff');
}

@font-face {
    font-family: 'DINProCondBold';
    src: url('../font/DINProCondBold.woff2') format('woff2'),
    url('../font/DINProCondBold.woff') format('woff');
}

@font-face {
    font-family: 'GothamBook';
    src: url('../font/GothamBook.woff2') format('woff2'),
    url('../font/GothamBook.woff') format('woff');
}

@font-face {
    font-family: 'GothamMedium';
    src: url('../font/GothamMedium.woff2') format('woff2'),
    url('../font/GothamMedium.woff') format('woff');
}
