// generics
@import 'block/container';
@import 'block/form';
@import 'block/has-background';
@import 'block/wpcf7';

// specifics
@import 'block/footer';
@import 'block/front-content';
@import 'block/header';
@import 'block/main';
@import 'block/nav';
@import 'block/skips';
@import 'block/splash';
@import 'block/wrapper';


.comp-scrollbar {
    transition: width 500ms;
    width: 100%;
}

.visually-hidden {
    @include visually-hidden();
}

@each $fit in (cover, contain) {
    &[data-object-fit="#{$fit}"] {
        object-fit: $fit;
        -o-object-fit: $fit;
        font-family: 'object-fit: #{$fit};';
    }
}

@each $pos in ('center center', 'center top', 'right top', 'right center', 'right bottom', 'center bottom', 'left bottom', 'left center', 'left top') {
    &[data-object-position="#{$pos}"] {
        object-position: unquote($pos);
        -o-object-position: unquote($pos);
    }
}
