$browser-fs: 16;
// important to keep it 10 to ease rem values calculation in sizes attributes
$root-fs: 10;
$body-fs: 14;

$body-lh: 20;

// fonts (key: font-name alt-font alt-weight alt-style)
$fonts: (
    din: DINProCond sans-serif,
    dinbo: DINProCondBold sans-serif,
    go: GothamBook sans-serif,
    // used for: menu-item, contact links
    gomed: GothamMedium sans-serif,
    // used for: filter, breadcrumbs, content__title, real tech
    gobo: GothamBold sans-serif,
    // used for: front-actu excerpt, archive actu excerpt, actu chapo
    //goro: GothamRounded-Book sans-serif,
);

$sizes: (
    48: 26 48,
    40: 24 40,
    36: 22 36,
    30: 20 30,
    24: 18 24,
    22: 16 22,
    20: 16 20,
    18: 15 18,
    16: 14 16,
    14: 13 14,
    12: 12 12,
);

// colors
$c-red: #B81918;
$c-dark: #171717;
$c-grey: #979797;
$c-error: $c-red;

// widths
$gap: 30px;
$wmin: 320px;
$wz: 0px;
$wx: 400px;
$ws: 600px;
$wm: 900px;
$wl: 1140px;
$ww: 1300px;
$wmax: $wl;
$header-breakpoint: 1030px;
$splash-min-height: 540px;

// transitions
$nav-open-dur: 300ms;
$nav-close-dur: 300ms;
$nav-back-dur: 500ms;

// depths
$depth-skips: 30;
$depth-nav: 20;
$depth-header: 10;
$depth-nav-back: 9;
