@import 'font';
@import 'setup';
@import 'commons';

html {
    @include base-size($root-size);
    @include wide-fs($root-size, 1600);
}

body {
    @include font-smoothing;
    @include ffs($body-size);
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    min-height: 100vh;
    min-width: $wmin;
    overflow-x: hidden;
    padding: 0;
}

h1,
h2,
h3,
h4,
strong,
em {
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

:focus {
    outline-color: $c-red;
}

@import 'globals';