@import 'print-generic';

@import 'font';
@import 'setup';
@import 'commons';

html {
    @include base-size($root-fs);
    @include wide-fs($root-fs, 1600);
}

body {
    @include font(go);
}

h1,
h2,
h3 {
    @include font(dinbo);
}

.header {
    &__title {
        margin: 0 auto;
        text-align: center;
    }
    
    &__icon {
        height: rem(46px);
        width: 100%;
    }
    
    &__slogan {
        @include font(din);
        @include fs($body-fs);
        display: block;
        text-transform: uppercase;
    }
}

.masonry {
    height: auto !important;
}
.masonry-brick {
    position: static !important;
}