.DS_Store
yarn-error.log
/.idea
/.htaccess
/access.log
/config.php
/content/cache/
/content/debug.log
/content/languages/
/content/mu-plugins/*
!/content/mu-plugins/index.php
!/content/mu-plugins/acf.php
!/content/mu-plugins/instance.php
/content/plugins/*
/content/themes/*/assets/*
/content/themes/*/node_modules/*
/content/themes/*/var/*
/content/themes/*/vendor/*
/content/upgrade/
/content/uploads/
/dbsync*
/error.log
/logs
/node_modules
/vendor
/wp
/wp-cli.yml
