.fade-in {
    .js-on & {
        transition-property: opacity, transform;
        transition-duration: 300ms;
        transition-timing-function: ease-out;

        &--hidden {
            opacity: 0;
            transform: translateY(rem(15px));
            transition: none;
        }

        &__anchor {
            min-height: 1px;
            visibility: hidden;
            min-width: 1px;
        }
    }
}