.filter {
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    &__item {
        display: inline-block;
        
        &:not(:first-child) {
            margin-left: 1em;
        }
        
        &--current {
            @include font(gomed);
            color: $c-red;
        }
    }
    
    @media (min-width: mqem($ws)) {
        text-align: center;
    }
}