.footer {
    $root: &;
    background: black;
    color: white;
    padding: rem(15px) 0;
    text-align: center;

    a {
        display: inline-block;
        padding: (10em / $body-fs) 0;
        color: inherit;
    }
    
    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu-item {
        display: inline-block;

        &::before {
            content: '•';
            display: inline-block;
            margin: 0 .8em 0 .5em;
        }
    }

    .menu-item:first-child,
    &__home,
    &__home + .menu-item {
        &::before {
            content: none;
        }
    }

    &__home {
        //margin-bottom: rem(15px);
        width: 100%;
    }
    
    &__home {
        @include fs(12);
    }

    &__logo {
        display: block;
        height: auto;
        margin: 0 auto rem($gap / 2);
        width: rem(200px);
    }
    
    @media (min-width: mqem($ws)) {
        a {
            padding: (15em / $body-fs) 0;
        }
    }
}