.main {
    --back-color: white;
    --front-color: black;
    background: white;
    padding-bottom: rem(20px);
    color: black;
    flex-grow: 1;

    :focus {
        outline-color: black;
    }
    
    .js-on .home & {
        //margin-top: 100vh;
    }
    
    //@media (min-width: mqem($header-breakpoint)) {
    //    .home & {
    //        margin-top: 100vh;
    //    }
    //}
}