.skips {
    background: white;
    color: $c-dark;
    position: relative;
    z-index: $depth-skips;

    .js-on & {
        height: 0;
        overflow: hidden;
    }

    .js-on .skips-on &,
    &:focus-within {
        height: auto;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        display: inline-block;
    }

    &__link {
        color: inherit;
        display: block;
        line-height: rem(30px);
        outline: none;
        padding: 0 rem(15px);

        &:hover,
        &:active,
        &:focus {
            background: black;
            color: white;
        }
    }

    @media print {
        display: none;
    }
}