.skips {
    background: #F2F2F2;
    position: relative;
    
    .js-on & {
        height: 0;
        overflow: hidden;
    }
    
    .js-on .skips-on &,
    &:focus-within {
        height: auto;
    }
    
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    &__item {
        display: inline-block;
    }
    
    &__link {
        color: inherit;
        display: block;
        line-height: rem(30px);
        padding: 0 rem(15px);
        
        &:hover,
        &:active,
        &:focus {
            background: $c-blue;
            color: white;
        }
    }
    
    @media print {
        display: none;
    }
}